@mixin button($bg,$color,$size,$padding,$radius) {
    background: $bg;
    color: $color;
    font-size: $size;
    padding: $padding;
    font-weight: 400;
    border: none;
    border-radius: $radius;
  }
  @mixin blue-btn($bg,$color,$size,$padding,$radius) {
    background: $bg;
    color: $color;
    font-size: $size;
    padding: $padding;
    font-weight: 400;
    border: none;
    border-radius: $radius;
  }