@use "./breakpoints" as breakpoints;

@mixin media_320 {
  @media #{breakpoints.$media_320} {
    @content
  }
}

;

@mixin media_480 {
  @media #{breakpoints.$media_480} {
    @content
  }
};
@mixin media_576{
  @media #{breakpoints.$media_576} {
    @content
  }
};

@mixin media_768 {
  @media #{breakpoints.$media_768} {
    @content
  }
}

;

@mixin media_991 {
  @media #{breakpoints.$media_991} {
    @content
  }
}

;

@mixin media_1024 {
  @media #{breakpoints.$media_1024} {
    @content
  }
}

;

@mixin media_1200 {
  @media #{breakpoints.$media_1200} {
    @content
  }
}

;

@mixin media_1280 {
  @media #{breakpoints.$media_1280} {
    @content
  }
}

;

@mixin media_1440 {
  @media #{breakpoints.$media_1440} {
    @content
  }
}

;
@mixin button($bg,$color,$size,$padding,$radius) {
    background: $bg;
    color: $color;
    font-size: $size;
    padding: $padding;
    font-weight: 400;
    border: none;
    border-radius: $radius;
    transition: 0.3s;
  }
  @mixin blue-btn($bg,$color,$size,$padding,$radius) {
    background: $bg;
    color: $color;
    font-size: $size;
    padding: $padding;
    font-weight: 400;
    border: 1px solid $bg;
    border-radius: $radius;
    transition: 0.3s;
    &:hover{
      background: transparent;
      color: $bg;
      box-shadow: none;
    }
  }