@mixin button($bg,$color,$size,$padding,$radius) {
    background: $bg;
    color: $color;
    font-size: $size;
    padding: $padding;
    font-weight: 400;
    border: none;
    border-radius: $radius;
    transition: 0.3s;
  }
  @mixin blue-btn($bg,$color,$size,$padding,$radius) {
    background: $bg;
    color: $color;
    font-size: $size;
    padding: $padding;
    font-weight: 400;
    border: 1px solid $bg;
    border-radius: $radius;
    transition: 0.3s;
    &:hover{
      background: transparent;
      color: $bg;
      box-shadow: none;
    }
  }