
:root {
   --white-color:#FFFFFF;
   --black-color:#000000;
   --pink-color:#FF74BF;
   --orange-color:#FFAB239E;

   --light-color:#F4F7FA;
   --blue-color:#1A73E8;
   --heading-color: #232631;
   --black-color:#000000;
   --text-grey:#8C8989;
   --color-ECEFF3:#ECEFF3;
   --color-420B23:#420B23;
}
