// Responsive Variables


$xl:"only screen and (min-width: 1200px) and (max-width: 1536px)";

$media_min_1920 :"(min-width:1920px)";
$media_min_1600:"(min-width:1600px)";
$media_1440 :"(max-width:1440px)"; 
$media_1280 : "(max-width:1280px)"; 
$media_1200 : "(max-width:1200px)"; 
$media_991 :  "(max-width:991px)"; 
$media_1024 : "(max-width:1024px)";
$media_768 :  "(max-width:768px)"; 
$media_767 :  "(max-width:767px)"; 
$media_576 :  "(max-width:576px)"; 
$media_480 : "(max-width:480px)";
$media_375 : "(max-width:375px)"; 
$media_320 : "(max-width:320px)"; 



 