@use '../../assets/scss/mixin.scss' as *;
.checkout-wrapped{
    .dash-heading{
        margin-bottom: 20px;
    }
    .two-grid{
        .left-side{
            width: 60%;
        }
        .right-side{
            width: 40%;
        }
        .white-card{
           background-color: #fff;
           border-radius: 10px;
           padding: 20px;
           box-shadow: 0 0 4px 2px #cccccc66;
           margin-bottom: 20px;
           .checkcontainer{
            display: flex;
            justify-content: space-between;
            img{
                max-width: 100px;
                max-height: 30px;
            }
            label{
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 15px;
            }
           }
           h3{
            font-size: 20px;
            font-weight: 600;
            color: var(--heading-color);
            margin-bottom: 30px;
           }
           table{
            width: 100%;
            margin-bottom: 15px;
            td{
                padding: 10px;
                text-align: right;
            }
           }
           .blue-btn{
            width: 100%;
           }
        }
    }
}