@use '../../../assets/scss/mixin.scss' as *;

.choose-plan {
    .main-heading {
        text-align: center;
        width: 75%;
        margin: auto;
        margin-bottom: 80px;
        p {
            color: #656565;

            @include media_1280 {
                font-size: 14px;
            }
        }

        @include media_1280 {
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .certificate-cards {
        background-color: #f4f7faaa;
        padding: 20px;
        border-radius: 20px;

        .slick-slide {
            padding: 0 10px;
            @include media_576{
                padding: 0;
            }
        }

    }

    .plan-cards {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        .cards {
            width: calc(33.33% - 30px);
            border: 1px solid #636363;
            border-radius: 16px;
            color: #636363;
            padding: 40px 30px;
            background-color: #fff;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // soft shadow
            transition: all 0.3s ease;

            @include media_1280 {
               padding: 30px 10px;
            }
            @include media_768 {
                width: 100%;
            }
            

            hr {
                border-bottom: 1px solid #636363;
                opacity: 1;
            }

            .title {
                color: #636363;
                font-size: 30px;
                font-weight: 600;
            }

            .des {
                font-size: 14px;
            }

            .price {
                margin-bottom: 20px;

                h2 {
                    font-size: 50px;
                    font-weight: 600;
                    color: #656565;
                    margin: 0;
                }

                span {
                    font-size: 12px;
                }
            }

            .plan-btn {
                width: 100%;
                padding: 15px;
                border: none;
                color: #FFFFFF;
                font-weight: 600;
                background-color: #8B8B8B;
                border-radius: 4px;
                margin-bottom: 30px;
            }

            &:hover {
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); // deeper shadow on hover
                transform: scale(1.05); // this makes the card grow

            }

            &.active,

            &:hover {
                color: #FFFFFF;
                background: linear-gradient(147.87deg, #6F4CF3 22.08%, #0EACDC 100.23%);

                .title {
                    color: var(--white-color);
                }

                .price {
                    h2 {
                        color: var(--white-color);
                    }
                }

                .plan-btn {
                    background-color: var(--white-color);
                    color: #070707;
                }

                hr {
                    border-bottom: 2px solid #fff;
                    opacity: 1;
                }

                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); // even stronger for active
                transform: scale(1.07); // optional: make active card grow a bit more


            }
        }
    }
}