@use '../../../assets/scss/mixin.scss' as *;

.banner {
    padding: 80px 0 80px 0;

    @include media_576 {
        padding: 50px 0 50px 0;
    }

    .slider-container {
        @include media_768 {
            display: none;
        }
    }



    .two-grid {
        align-items: center;

        .hero-content {
            width: 45%;

            @include media_768 {
                width: 100%;
            }

            .typebox {
                margin-top: 10px; // Adjust the value as needed
                margin-bottom: 10px; // Adjust the value as needed

                display: flex;
                align-items: center;
                background-color: #fff;
                border-radius: 8px;
                padding: 0 8px;
                border: 1px solid #cccccc81;
                width: 400px;
                height: 50px; // control height

                @include media_576 {
                    width: 100%;
                    height: 42px;
                    padding: 0 2px;
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 10px 10px;
                    font-size: 12px;
                    font-family: 'Poppins', sans-serif;

                    @include media_576 {
                        padding: 5px;
                    }

                    &::placeholder {
                        font-size: 16px;
                        color: #020202;
                        font-family: 'Poppins', sans-serif;
                        transition: color 0.3s ease;

                        @include media_576 {
                            font-size: 12px;
                        }
                    }

                    // Optional: blinking effect for '|' at the end of placeholder
                    &::placeholder::after {
                        content: '|'; // optional blinking cursor
                        animation: blink 1s step-start infinite;
                    }
                }
            }

            // .em {
            //     display: inline-block;
            //     color: #fff;
            //     font-style: normal;
            //     background-color: #ff0057;
            //     padding: 10px 16px;
            //     border-radius: 6px;
            //     font-weight: 600;
            //     margin-top: 15px;
            //     font-size: 20px;
            //     margin-bottom: 20px;

            //     @include media_1280 {
            //         font-size: 18px;
            //         padding: 8px 14px;
            //     }
            // }

            .em {
                display: inline-block;
                color: #007BFF; // Blue text
                background-color: transparent;
                border: 2px solid #007BFF; // Blue border
                padding: 10px 20px;
                border-radius: 6px;
                font-weight: 600;
                margin-top: 15px;
                font-size: 20px;
                margin-bottom: 20px;
                text-align: center;
                text-decoration: none;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #007BFF;
                    color: #fff; // white text on hover
                }

                @include media_1280 {
                    font-size: 18px;
                    padding: 8px 16px;
                }
            }

            .banner-heading {
                font-size: 35px;
                font-weight: 800;
                line-height: 1.3;
                text-align: left;
                color: transparent;
                background-image: linear-gradient(90deg, black, black);
                background-clip: text;
                -webkit-background-clip: text;
                animation: fadeZoomIn 1.5s ease-in-out forwards;
                opacity: 0;
                margin-bottom: 0;
                text-transform: capitalize;

                span {
                    text-transform: capitalize;
                    display: inline-block;
                    background-image: linear-gradient(90deg, black, black);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    margin: 5px 0;
                    animation: slideIn 1s ease-in-out forwards;
                }



                @include media_1280 {
                    font-size: 32px;
                    line-height: 35px;

                    .em {
                        font-size: 20px;
                    }
                }
            }

            /* Animations */
            @keyframes fadeZoomIn {
                0% {
                    opacity: 0;
                    transform: scale(0.9);
                }

                100% {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            @keyframes slideIn {
                0% {
                    transform: translateY(20px);
                    opacity: 0;
                }

                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            @keyframes pulse {
                0% {
                    box-shadow: 0 0 12px rgba(255, 0, 87, 0.6);
                }

                50% {
                    box-shadow: 0 0 20px rgba(255, 0, 87, 1);
                }

                100% {
                    box-shadow: 0 0 12px rgba(255, 0, 87, 0.6);
                }
            }


            .blue-button {
                display: block;
                margin-bottom: 30px;
                width: fit-content;
                font-size: 18px;
                border: 1px solid var(--blue-color);
                padding: 10px 30px;
                border-radius: 8px;
                transition: .3s;
                background-color: var(--blue-color);
                color: var(--white-color);

                &:hover {
                    color: var(--blue-color);
                    background-color: var(--white-color);
                }
            }

            .label {
                font-size: 24px;
                font-weight: bold;
                background: linear-gradient(to right, #0ff, #1A73E8, #0ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: shimmer 5s infinite linear;

                @include media_1280 {
                    font-size: 20px;
                }
            }

            @keyframes shimmer {
                0% {
                    background-position: -500px 0;
                }

                100% {
                    background-position: 500px 0;
                }
            }

            h1 {
                font-size: 35px;
                color: var(--heading-color);
                line-height: 50px;
                font-weight: 700;
                margin-bottom: 30px;

                @include media_1280 {
                    font-size: 40px;
                    line-height: 45px;
                }

                @include media_576 {
                    font-size: 26px;
                    line-height: 45px;
                }
            }

            p {
                font-size: 18px;
                color: var(--text-grey);
                width: 80%;
                margin-bottom: 0;

                @include media_1280 {
                    font-size: 14px;
                }
            }


        }

        .hero-img {
            width: 55%;
            display: flex;
            justify-content: flex-end;
            position: relative;

            .accounts {
                border-radius: 30px;
                background: linear-gradient(278.06deg, #D4FC79 6.11%, #96E6A1 95.27%);
                padding: 30px;
                display: flex;
                gap: 40px;
                position: absolute;
                top: 0;
                left: 0;
                align-items: center;
                justify-content: center;
                width: 300px;

                .imgaes {
                    display: flex;
                    align-items: center;

                    img {
                        height: 45px;
                        width: 45px;
                        border-radius: 100%;
                        border: 2px solid #fff;
                        margin: 0 -5px;
                    }

                    margin: 0 -20px;
                }

                h4 {
                    font-weight: 700;
                    font-size: 21px;
                    color: var(--heading-color);
                    margin-bottom: 2px;
                    font-family: 'poppins';
                }

                span {
                    color: #727272;
                    font-family: 'poppins';
                }
            }
        }
    }
}