@use '../../assets/scss/mixin.scss' as *;

.courses-wrapped {
    .search-header{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
        .blue-btn{
            border-radius: 50px;
        }
    }
 .searchbox{
        margin-bottom: 0;
        input{
            border-color: var(--blue-color);
        }
    }
     .header-card{
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        align-items: center;
        h2{
            margin: 0;
            font-size: 24px;
            font-weight: 700;
            color: var(--blue-color);
        }
    }
    
    .two-grid {
        padding: 70px 0;
        gap: 30px;
        //  height: 70vh;
        align-items: center;
    }

    .heading {
        width: 50%;
    }

    .main-content {
        width: 60%;

        h2 {
            font-size: 38px;
            font-weight: 700;
            color: #474747;
        }

        p {
            font-size: 18px;
            color: var(--text-grey);
        }

        .blue-btn {
            width: 200px;
        }
    }

    

    .certificate-cards-new {
        background-color: #f4f7faaa;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 40px;

                .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center; // vertically center
            margin-bottom: 40px; // same as your previous margin on h3
        }
        .sub-heading {
            font-size: 24px;
            font-weight: 600;
            color: #004aab;
            @include media_1280 {
                    font-size: 20px;
                }
        }

        .slick-slide {
            padding: 0 15px;
        }

        .main-heading {
            margin-bottom: 30px;
        }

      
    }

.certificate-cards {
    &.without-slider{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
     .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center; // vertically center
            margin-bottom: 40px; // same as your previous margin on h3
        }
    .cards{

        width: calc(33.33% - 20px)
    }
    }

}



}